* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.box {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 7px;
	background-color: #f7f7f7;
}

.button {
	all: unset;
	cursor: pointer;
}
